// Colors
$bg-color: #d7d7e3;
$bg-card: #f7f8fa;
$bg-success: #eefef0;
$bg-progressing: #e8f3fa;

$white: #ffffff;
$black: #0d0d0d;
$green: #509772;
$blue: #6d90bb;
$gray: #b3b3b3;
$orange: #f0833a;
$yellow: #fdd124;
$purple-600: #d5c7fe;
$purple-900: #6f34fe;

// Border
$rounded-1: 4px;
$rounded-2: 8px;
