:root {
  --color-white: #ffffff;
  --color-black: #0d0d0d;
  --color-orange: #f0833a;
  --color-yellow: #fdd124;
  --color-purple-600: #d5c7fe;
  --color-purple-900: #6f34fe;
}

// Light Colors
$light-theme: (
  bg-main: #d7d7e3,
  bg-card: #f7f8fa,
  bg-success: #eefef0,
  bg-progressing: #e8f3fa,
  color-text: #0d0d0d,
  color-green-100: #e6f8e3,
  color-green-500: #509772,
  color-green-700: #13a158,
  color-blue-100: #ebedfc,
  color-blue-500: #6d90bb,
  color-blue-700: #3e7ebe,
  color-gray-100: #f0f0f0,
  color-gray-200: #e5e6ec,
  color-gray-400: #b3b3b3,
  color-gray-900: #0d0d0d
);

// Dark Colors
$dark-theme: (
  bg-main: #181818,
  bg-card: #222222,
  bg-success: #282828,
  bg-progressing: #2c2c2c,
  color-text: #ffffff,
  color-green-100: #2d362d,
  color-green-500: #729750,
  color-green-700: #13a158,
  color-blue-100: #2f343b,
  color-blue-500: #8b9db6,
  color-blue-700: #3681cc,
  color-gray-100: #303030,
  color-gray-200: #333333,
  color-gray-400: #808080,
  color-gray-900: #666666
);

// Border radius
$rounded-1: 4px;
$rounded-2: 8px;

// Themes
.light-theme {
  @each $key, $value in $light-theme {
    --#{$key}: #{$value};
  }
}

.dark-theme {
  @each $key, $value in $dark-theme {
    --#{$key}: #{$value};
  }
}

@mixin scroll-bar {
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    width: 16px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    border: 5px solid transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #7c7c7c;
    background-clip: content-box;
  }
}
