@use 'variables' as variable;

.ant-typography,
.ant-drawer-title,
.ant-modal-title,
.ant-input,
.ant-select {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: 14px;
  color: variable.$black;
}

.ant-spin .ant-spin-dot-item {
  background: rgb(37, 150, 255);
}
