@use 'variables' as variable;

// Dashboard
.dashboard-page {
  height: 100%;

  .big-number {
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
  }

  .ant-card-body {
    height: 100%;
  }

  .card-half-page {
    height: calc((100% - 16px) / 2);
  }

  .act-card {
    &__plat-card {
      height: calc(100% - 310px);
      background: var(--color-gray-100);
      @include variable.scroll-bar;

      .ant-card-head {
        padding: 0 16px;
        min-height: 50px;
        border-bottom: none;
      }

      .ant-card-body {
        height: calc(100% - 50px);
        padding: 8px 16px;
        overflow-y: auto;
      }
    }
  }

  .stat-card {
    overflow: hidden;

    &__task-card {
      height: calc(100% - 100px);
      background: var(--color-gray-100);

      .ant-card-body {
        padding: 16px 0;
      }
    }
  }
}
